<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
</head>
<body>
    <main>
    {% include 'header.html' %}

    <h1>Add Student</h1>
    <div class="container">
    <form class="add-student-form" action="/add_student/submit" method="POST">
        <label for="StudentID">Student ID:
            <input type="text" name="StudentID" required>
        </label>
        <br>
        <label for="CourseCode">Course Code:
            <input type="text" name="CourseCode" required>
        </label>
        <br>
        <label for="Subject">Subject:
            <input type="text" name="Subject" required>
        </label>
        <br>
        <label for="TestNo">Test No:
            <input type="number" name="TestNo" required>
        </label>
        <br>
        <label for="SeatNo">Seat No:
            <input type="text" name="SeatNo" >
        </label>
        <br>
        <label for="Lab">Lab:
            <input type="text" name="Lab">
        </label>
        <br>
        <button type="submit">Submit</button>
    </form>
    </div>
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    
</body>
</html>