<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Submissions Page</h1>
    <form action="/submissions/submit" method="post">

    <label for="CourseCode">Course Code 
        <input type="radio" name="CourseCode" value="cs699"> cs699<br>
        <input type="radio" name="CourseCode" value="cs744"> cs744<br>
    </label>

    <label for="Lab">Lab
        <input type="radio" name="TestNo" value="1"> Test1<br>
    </label>
    <button type="submit">Submit</button>
    </form>
</body>
</html>