
{% if submissions %}
    <div class="container">
        <h1>Submissions Page</h1>
    </div>
    <div class="container">
        <h2 style="color:green;">Students Who Submitted</h2>
    </div>
    <div class="container" style=" display:grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 10px;"> 
        
        {% for student in submissions %}
            {% if student.Submitted == True %} 
                <div class="sub-container" style="border:1px solid black; padding:10px; margin:10px;background-color:lightgreen;">
                    <h5>{{student.StudentID}}</h5>
                        <p>Course Code: {{student.CourseCode}}</p>
                        <p>Lab: {{student.Lab}}</p>
                        <p>Subject: {{student.Subject}}</p>
                        <p>Test No: {{student.TestNo}}</p>
                        <p>Seat No: {{student.SeatNo}}</p>
                        <p>Submitted: {{student.Submitted}}</p>
                        <p>Timestamp: {{student.TimeStamp}}</p>
                        <!-- invisible form -->
                        <form id="removeStudentsForm" action="{{ url_for('submission_student') }}" method="POST">
                            <input type="hidden" name="TestNo" value="{{ student.TestNo }}">
                            <input type="hidden" name="CourseCode" value="{{ student.CourseCode }}">
                            <input type="hidden" name="StudentID" value="{{ student.StudentID}}">
                            <input type="hidden" name="Lab" value="{{ student.Lab}}">
                            <input type="hidden" name="Subject" value="{{ student.Subject}}">
                            <input type="hidden" name="SeatNo" value="{{ student.SeatNo}}">
                            <input type="hidden" name="Submitted" value="False">
                        </form>
                        <!-- post request -->
                        <button type="submit" form="removeStudentsForm" style="background-color: rgb(200, 44, 44);">Remove Submission</button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="container">
        <h2 style="color:red;">Students Yet to Submit</h2>
    </div>
    <div class="container" style=" display:grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 10px;">
        
        {% for student in submissions %}
            {% if student.Submitted == False %}
                <div class="sub-container" style="border:1px solid black; padding:10px; margin:10px;background-color:lightcoral;">
                    <h5>{{student.StudentID}}</h5>
                        <p>Course Code: {{student.CourseCode}}</p>
                        <p>Lab: {{student.Lab}}</p>
                        <p>Subject: {{student.Subject}}</p>
                        <p>Test No: {{student.TestNo}}</p>
                        <p>Seat No: {{student.SeatNo}}</p>
                        <p>Submitted: {{student.Submitted}}</p>
                        <p>Timestamp: n/a</p>
                        <div class="container">
                            <!-- invisible form -->
                            <form id="submitStudentsForm" action="{{ url_for('ta_direct_submit') }}" method="POST">
                                <input type="hidden" name="TestNo" value="{{ selected_test_no }}">
                                <input type="hidden" name="CourseCode" value="{{ selected_course_code }}">
                                <input type="hidden" name="StudentID" value="{{ student.StudentID}}">
                            </form>
                            <!-- post request -->
                            <button type="submit" form="submitStudentsForm">Submit Files</button>

                            <!-- invisible form -->
                            <form id="ignoreStudentsForm" action="{{ url_for('ta_direct_ignore') }}" method="POST">
                                <input type="hidden" name="TestNo" value="{{ selected_test_no }}">
                                <input type="hidden" name="CourseCode" value="{{ selected_course_code }}">
                                <input type="hidden" name="StudentID" value="{{ student.StudentID}}">
                            </form>
                            <!-- post request -->
                            <button type="submit" form="ignoreStudentsForm">Ignore Student</button>
                        </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <!-- <div class="container">
        <a href="/submissions">View All Submissions</a>
    </div> -->
{% endif %}
