<!DOCTYPE html>
<html>

<head>
    <title>free space</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/free_space.css')}}">

</head>
<!-- (1, 'sl3', 20, datetime.datetime(2025, 11, 24, 22, 8, 1), '100', '80', '20', '80') -->
<body>
    {% include 'home_button.html' %}
    <table>
        <thead>
            <tr>
                <td>Lab</td>
                <td>Computer Number</td>
                <td>total space</td>
                <td>Used Space</td>
                <td>Available Space</td>
                <td>% Used </td>
            </tr>
        </thead>
        <tbody>
            {% for row in free_space %}
            <tr class=" {% if row[7]|int <= 15 %}
                            red
                        {% elif row[7]|int <= 40 %} 
                            orange
                        {% else %}
                            green
                        {% endif %}">
                
                <td>
                    {{row[1]}}
                </td>
                <td>
                    {{row[2]}}
                </td>
                <td>
                    {{row[3]}}
                </td>
                <td>
                    {{row[4]}}
                </td>
                <td>
                    {{row[5]}}
                </td>
                <td>
                    {{row[6]}}
                </td>
                
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>