<div class="button-container" 
         style="
            width: 80vw; height: 15vh;
            display: flex; align-items: center; 
            justify-content: flex-end; /* Buttons aligned to the right */
            gap: 15px; 
            margin: 0 auto; 
            background-color: #ffffff;
            border-bottom: 3px solid #ccc;
            box-sizing: border-box;
            padding-right: 20px;
         ">
        
        <a href="{{url_for('home')}}" class='button' 
           style="
             display: inline-block; 
             padding: 8px 15px; 
             font-size: 16px; 
             font-weight: 700;
             color: #1e40af; 
             background-color: #e6f7ff; 
             border: 1px solid #1e40af; 
             border-radius: 4px;
             cursor: pointer; 
             text-decoration: none; 
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
           ">HOME</a>
        
        <a href="{{url_for('login')}}" class='button' 
           style="
             display: inline-block;
             padding: 8px 15px; 
             font-size: 16px; 
             font-weight: 700;
             color: #1e40af; 
             background-color: #e6f7ff; 
             border: 1px solid #1e40af; 
             border-radius: 4px;
             cursor: pointer; 
             text-decoration: none; 
             box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
           ">LOGOUT</a>
    </div>
