<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple User Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">

</head>

<body>
    <div class="header">
        <a href="{{url_for('login')}}">LOGIN</a>
    </div>
    <div class="login-container">
        <h1>Register</h1>
        <!-- The Login Form -->
        <form  method="POST">
            <!-- Username Input -->
            <div>
                <label for="username">User name</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" required>
            </div>

            <!-- Password Input -->
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>

             <div>
                <label for="paraphrase">SYSAD Paraphrase</label>
                <input type="password" id="paraphrase" name="paraphrase" placeholder="Enter Paraphrase" required>
            </div>

            <!-- Submit Button -->
            <button type="submit">
                Submit
            </button>
        </form>
    </div>

</body>

</html>