body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}   
main {
  flex: 1; /* Makes the main content area take up all available space */
}

footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 15px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.sub-container {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sub-container-2 {
    background: #e2e2e2;
    padding: 15px;
    margin-top: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    text-align: center;
}


.sub-container-2.selected {
    background: #83df99;
    border-color: #c3e6cb;
}   

.add-student-form label {
    width: 100%;
    padding: 12px;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.add-student-form input[type=text],
.add-student-form input[type=number] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* input[type=text] {
  border: 2px solid red;
  border-radius: 8px;
} */